@model IEnumerable<CoreSQL.Entities.Calle>

@{
    ViewBag.Title = "Calles";
}

@section QuickSearch {
    <form method="get" class="navbar-search pull-left">
      <input name="quickFilter" type="text" class="search-query" placeholder="Nombre de calle" value="@ViewBag.QuickFilter">
    </form>
}

<h1>Calles</h1>

<button id="buttonNuevaCalle" class="btn" >Nueva <i class="icon-plus-sign"></i></button>

<table class="table table-bordered table-calles">
	<thead>
	<tr>
		<th>Nombre</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
		@Html.DisplayForModel("CalleTableRow")
	</tbody>
</table>

@Html.Partial("_paginator")

@Html.Partial("CalleForm", new Admin.Models.EditCalleModel())

@section Scripts {
    var config = {
        createUrl: "@Url.Action("CreateEdit", "Calle")",
    };
    calleEditor = new CalleEditor(config);
}