@model Core.Models.Calle


@if (Model.Segmentada)
{
    foreach (Core.Models.Zona zona in Model.zonas)
    {
<tr>
	<td>@zona.desde</td>
  	<td>@zona.hasta</td>
  	@{	switch (zona.vereda)
        {
            case 1:
	  			<text>
	  			<td>Par</td>
	  			<td><span class="badge badge-success">@zona.zona</span></td>
	  			</text>
                                       break;
            case 2:
	  			<text>
	  			<td>Impar</td>
	  			<td><span class="badge badge-info">@zona.zona</span></td>
	  			</text>
                                    break;
            case 3:
	  			<text>
	  			<td>Ambas</td>
	  			<td><span class="badge badge-inverse">@zona.zona</span></td>
	  			</text>
                                       break;
        }
  	}
    <td>
        <a class="zona-edit" zonaId="@zona.id"><i class="icon-edit"></i></a>
        <a class="zona-delete" zonaId="@zona.id"><i class="icon-minus-sign"></i></a>
    </td>
</tr>
    }
}
else if (Model.zonas.Count != 0 && Model.Alturas)
{
    <tr>
	    <td>@Model.zonas[0].desde</td>
  	    <td>@Model.zonas[0].hasta</td>
  	    @{	switch (Model.zonas[0].vereda)
            {
                case 1:
	  			    <text>
	  			    <td>Par</td>
	  			    <td><span class="badge badge-success">@Model.zonas[0].zona</span></td>
	  			    </text>
                                           break;
                case 2:
	  			    <text>
	  			    <td>Impar</td>
	  			    <td><span class="badge badge-info">@Model.zonas[0].zona</span></td>
	  			    </text>
                                        break;
                case 3:
	  			    <text>
	  			    <td>Ambas</td>
	  			    <td><span class="badge badge-inverse">@Model.zonas[0].zona</span></td>
	  			    </text>
                                           break;
            }
        }
        <td>
            <a class="zona-edit" zonaId="@Model.zonas[0].id"><i class="icon-edit"></i></a>
        </td>
    </tr>
}
else if (@Model.zonas.Count == 1)
{
<tr>
	<td colspan="3">Todas las alturas</td>
  	<td><span class="badge badge-important">@Model.zonas[0].zona</span></td>
    <td>
        <a class="zona-edit" zonaId="@Model.zonas[0].id"><i class="icon-edit"></i></a>
    </td>
</tr>
}
else {
<tr>
	<td colspan="5">No hay zonas cargadas</td>
</tr>
}