@model IEnumerable<CoreSQL.Entities.AlturasCalle>

@foreach (CoreSQL.Entities.AlturasCalle altura in Model)
{
    if (altura.desde != 0 && altura.desde == altura.hasta)
    {
        <tr>
        <td>@Html.Raw(altura.calle_nombre)</td>
        <td>@altura.desde</td>
        <td colspan="2">Domicilio</td>
        <td><span class="badge badge-success">@altura.zona</span></td>
        </tr>
    }
    else if (altura.desde == 0 ) 
    {
        <tr>
        <td>@Html.Raw(altura.calle_nombre)</td>
        <td colspan="3">Todas las alturas</td>
        <td><span class="badge badge-inverse">@altura.zona</span></td>
        </tr>
    } 
    else 
    {
    <tr>
 	<td>@Html.Raw(altura.calle_nombre)</td>
   	<td>@altura.desde</td>
  	<td>@altura.hasta</td>
  	@{	switch (altura.vereda)
        {
            case 1:
	  			<text>
	  			<td>Par</td>
	  			<td><span class="badge badge-success">@altura.zona</span></td>
	  			</text>
                                       break;
            case 2:
	  			<text>
	  			<td>Impar</td>
	  			<td><span class="badge badge-info">@altura.zona</span></td>
	  			</text>
                                    break;
            case 3:
	  			<text>
	  			<td>Ambas</td>
	  			<td><span class="badge badge-inverse">@altura.zona</span></td>
	  			</text>
                                       break;
        }
  	}
    </tr>
}
}