@model IEnumerable<Core.Models.Zona>

@foreach (Core.Models.Zona zona in Model)
{
<tr>
	<td>@zona.desde</td>
  	<td>@zona.hasta</td>
  	@{	switch (zona.vereda)
        {
            case 1:
	  			<text>
	  			<td>Par</td>
	  			<td><span class="badge badge-success">@zona.zona</span></td>
	  			</text>
                                       break;
            case 2:
	  			<text>
	  			<td>Impar</td>
	  			<td><span class="badge badge-info">@zona.zona</span></td>
	  			</text>
                                    break;
            case 3:
	  			<text>
	  			<td>Ambas</td>
	  			<td><span class="badge badge-inverse">@zona.zona</span></td>
	  			</text>
                                       break;
        }
  	}
</tr>
}